.container {
  position: sticky;
}

.user {
  height: 4.5rem;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.12);
}

.userImage {
  padding: "10px";
  border-radius: 50%;
  object-fit: cover;
}

.userDetail {
  display: flex;
  flex-direction: column;
  border-bottom: "1px solid  white";
}

.username {
  font-weight: 500;
}

.userTitle {
  font-size: 12px;
  color: "white";
}

.list {
  list-style: none;
}

.cat {
  color: white;
  background-color: black;
  font-weight: bold;
  font-size: 13px;
  margin: 10px 0px;
}
